run {
sql 'alter system set backup_tape_io_slaves = true deferred';
sql 'alter system set control_file_record_keep_time=42';
SET DUPLEX=ON;
CONFIGURE DEFAULT DEVICE TYPE TO 'SBT_TAPE';
CONFIGURE DEVICE TYPE SBT_TAPE PARALLELISM 1;
CONFIGURE BACKUP OPTIMIZATION ON;
CONFIGURE RETENTION POLICY TO RECOVERY WINDOW OF 30 DAYS;
CONFIGURE CONTROLFILE AUTOBACKUP ON;
CONFIGURE CONTROLFILE AUTOBACKUP FORMAT FOR DEVICE TYPE DISK CLEAR;
CONFIGURE CONTROLFILE AUTOBACKUP FORMAT FOR DEVICE TYPE SBT_TAPE TO '/%d_CFAB_%F/';
CONFIGURE ARCHIVELOG BACKUP COPIES FOR DEVICE TYPE SBT_TAPE TO 2;
CONFIGURE MAXSETSIZE TO UNLIMITED;
ALLOCATE CHANNEL T1 TYPE 'SBT_TAPE';
sql 'alter system archive log current';
backup filesperset 10 format '/%d_ARC_%T_%c.%s.%t/' tag 'DB_ARC' archivelog all not backed up 2 times;
RELEASE CHANNEL T1;
}
